*{
    margin:0;
    scroll-behavior: smooth;
    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.greenColor {
    color: #008000;
}

.redColor {
    color: #ff0000;
}

/* Apply to whole page */
body {
  cursor: url('./images/cursor.png'), auto;
}
